{{define "body"}}
<div class="container">
    <div id="about" class="jumbotron inverted-pattern">
        <!-- <div class="row centered">
             <div class="intro">
             <h1 class="lead">
             You <b>will</b> focus. You <b>will</b> relax. You <b>will</b> be productive.
             </h1>
             </div>
             </div> -->

        <div class="row">

            <div class="col-xs-12 centered">
                <h1>What is <i>You Will Focus</i>?</h1>
                <p>A tool to help you focus, duh.</p>
                <h1>How can I contribute?</h1>
                <p>Donate monies to dan@barbarito.me</p>
            </div>

        </div>
    </div>
</div>
{{end}}
