{{define "body"}}
<section class="featured">
    <div class="container">
        <div id="front" class="jumbotron">
        <div class="row centered">
            <div class="intro">
                <h1 class="lead">
                    You will focus. You will relax. You will be productive.
                </h1>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 centered">

                <a href='/app' class='btn btn-lg btn-primary get-started'>Start focusing, it's free!</a>

            </div>
        </div>
        </div>
    </div>
</section>
{{end}}
