{{define "body"}}
<section class="featured">
    <div class="container">
        <div id="front" class="jumbotron inverted-pattern">
            <!-- <div class="row centered">
                 <div class="intro">
                 <h1 class="lead">
                 You <b>will</b> focus. You <b>will</b> relax. You <b>will</b> be productive.
                 </h1>
                 </div>
                 </div> -->

        <div class="row">

            <div class="col-xs-4 centered">
                <a href='#' id="music" class='btn btn-md btn-primary noise'><i class="icomoon icon-music"></i><br/><p id="btn-description">Music</p></a>
            </div>

            <div class="col-xs-4 centered">
                <a href='#' id="rain" class='btn btn-md btn-primary noise'><i class="icomoon icon-droplet"></i><br/><p id="btn-description">Rain</p></a>
            </div>

            <div class="col-xs-4 centered">
                <a href='#' id="white-noise" class='btn btn-md btn-primary noise'><i class="icomoon icon-feed"></i><br/><p id="btn-description">White Noise</p></a>
            </div>

        </div>
        </div>
    </div>
</section>
{{end}}
