body {
  background-color: #26547C;
  background-image: url("/static/img/pattern.png");
  color: #F5FFCE;
}

.centered {
  text-align: center;
}

.noise.btn {
  width: 100%;
  font-size: 22px;
  line-height: 2;
  margin-bottom: 40px;
  border-color: transparent !important;
}

#music {
  background-color: #7f457e;
}

#music:hover {
  background-color: #5f457e;
}

#rain {
  background-color: #012250;
}

#rain:hover {
  background-color: #000b50;
}

#white-noise {
  background-color: #00af12;
}

#white-noise:hover {
  background-color: #00df12;
}

.lead  {
  color: white;
  /* font-weight: bold; */
}

.inverted-pattern {
  background-color: #26547C;
  background-image: url("/static/img/pattern2.png");
}

.textbox {
  background-color: rgba(0,0,0,.5);
  border-radius: 10px;
}

#btn-description {
  font-size: 10px;
}